/*
* Základné nastavenia
*/
$font-family: sans-serif;;
$font-size: 1em;
$strong-weight: bold;

/*
* Nastavenie výšky riadkov
*/
$row-space: 20px;

/*
* Nastavenie farieb cien
*/
$color-old-price: #C9C9C9;
$color-new-price: #E5403F;
$color-discount: $color-old-price;

/*
* Nastavenie veľkosti radiusu "inputs/buttons"
*/
$radius: 1em;

